$font: Roboto

=nameFont()
  color: black
  font-family: Raleway
  font-weight: bold

=text()
  color: black
  
  font: $font

.quote 
  font-family: Raleway
  font-size: 24px
  color: #193a86
  padding: 2rem
  font-style: italic

.mainText 
  color: black
  font-family: $font
  font-size: 1.25rem


.bioText
  +text
  font-size: .85rem 
  padding: 1rem

.descText
  +text
  text-align: center
  font-size: .65rem
  font-style: italic
  padding: 0rem 2rem

.name 
  color: black
  font-family: Raleway
  font-size: 2rem
  font-weight: bold

.projText
  font-family: $font
  font-size: 1.25re
  color: black
  margin: 1em
  padding: 1em

.projName
  font-size: 1.3333rem
  +nameFont

@media (max-width: 700px)
  .mainText
    color: black
    font-family: $font
    font-size: 1rem

  .name
      font-size: 1.5rem